name: Build CI
on: [push]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Run build tests
        run: |
          cmake -B build -DCMAKE_CUDA_ARCHITECTURES=86 .
          make -C build -j
          ctest --test-dir build --output-on-failure
